body{
    font-family : 'Raleway', sans-serif ;

}

a{ text-decoration: none;
    color:inherit;

}
/* cahier des charges :-couleur bleu #0065FC,
                       -couleur bleu claire #DEEBFF
                       -couleur de fond gris #F2F2F2
                       -police Raleway sur google font
-Concernant les breakpoints, nous avons convenu avec le client
d’utiliser 992 px et 768 px. tout ce qui est en dessous de 768 pour les téléphones portables*/

                                         /* navigation*/

/* .= class  */
.navigation  { 
    display: flex; 
    justify-content: space-around;            /*espace les 2 éléments entre eux*/
    align-items: center;
    width: 30%;                               /*prend 20% du bloc parent(la balise nav est le parent qui contient les enfants "div"*/
}


nav img{     /*logo*/
    width: 30%;
}



.heb{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    height: 90px;
    display: flex;
    align-items: center; 
    width: 150px;
    justify-content: center;  
}

.act{
    color: black;
    
}


nav{    /*logo + lien hébergement et activité*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;   /*enlève la décoration automatiqur des liens(surlignement et bleu)*/
}

h1{
    font-size: 22px;
    font-weight: bold;
}










                                             /*FORMULAIRE*/

.formulaire{
    display: flex; /*pour que la section se mette en ligne*/
}                                                                                

.formulaire i{
    display: flex;
    justify-content: center; /*on centre horizontalement dans la div*/
    align-items: center; /*aligner verticalement dans la div*/
    width: 50px; /*largeur du bloc*/
    height: 40px; /*hauteur du bloc*/
    background-color: #F2F2F2; /*couleur de fond*/
    border-radius: 15px 0 0 15px; /*pour avoir les bords arrondis*/
   
}

.formulaire input{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 40px;
    border: none;
    font-weight: bold;
}

.formulaire button{
    width: 120px;
    height: 40px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    font-weight: bold;
    font-size: 16px;
}

.formulaire button::after {
    content: "Rechercher";
   
}

img{
    width:200px; /*(taille pour les image) voir decoupage de l ecran px non compatible responsive..*/
}



.p1{
    font-size: 80%;
}


                                                                 /*FILTRES*/ /*organiser en fonction de la page*/
                                                                 
h2{
    font-size: 16px;
    width: 8%; /*largeur de son contenu*/
    
}


.filtres{
    display: flex;
    font-weight: bold;
    align-items: center;
    height: 130px;
}

.filtres-span:hover{
    background-color: #0065FC;
      

}

.filtres span{
    border: 2px solid; /* solid= bordure ligne continue*/
    border-style: solid solid solid none;  /*solid en haut a droite et en bas et rien a gauche*/
    border-radius: 50px; /*bord arrondi 50px = rond bien net*/
    padding-right: 20px;/*espace interieur*/
    border-top-color: hsl(0deg 0% 86%);/*couleur bordur haut* trouver grace à inspecter*/
    border-right-color: hsl(0deg 0% 86%);
    border-bottom-color:hsl(0deg 0% 86%);
    display: flex;
    align-items: center;/*aligner verticalement dans le span*/ /* tester sans*/
    margin-right: 1rem; /*marge a droite*/
    font-size: 16px; /*taille de la police*/
    height: 40px;

}

.filtres i{
    border-radius: 50px;
    background-color: #DEEBFF;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    margin-right: 15px;
}

aside{
    display: flex; /*pour aligné le "i" +le texte...*/
    height: 50px;
}

.fa-info{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0065FC; 
    border-radius: 50%;
    border: 1px solid hsl(0deg 0% 86%);
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.colorBleu{
    color:#0065FC;
}
.colorGris{
    color:hsl(0deg 0% 85%) ;
}

       /*version mobile*/





                                                   /* Hébergement*/

.hebergement{
    display: flex;                    /* display flex = par defaut image de la section les unes a coté des autres*/
    justify-content: space-around;
    flex-wrap: wrap;                  /*Pour que les éléments aillent à la ligne quand il n'y a plus de place*/
    width: 68%;
    background-color:#F2F2F2;
    border-radius: 15px;   /*bord arrondi 15px sur les 4 côtés...*/
    height: 610px;
    margin-bottom: 30px;
}


.hebergement img {
object-fit: cover;   /*pour que les image soient zoomé et qu'on en voit qu'une partie*/
border: 5px solid white;   /*Pour qu'il y ai une bordure de 2px trait plain blanc autour de l'image*/
border-radius: 15px 15px 0 0;   /*pour avoir l'arrondi juste haut gauche et droite*/
width: 180px; 
height: 120px;
}

.hebergement article{
    background-color: white;
    border-radius: 15px;
    height: 205px;
    box-shadow: 0 0 10px #bababa;
}


.hebergement span{
    padding-left: 10px;
}

.hebergement div{
    padding-left: 10px;
}


h3{
    width: 95%; /*taille du bloc h3 pour qu'il se mette bien en haut de la section*/
    height: 0px;
    margin-bottom: 50px
}

h4{
    margin: 2px;
    padding-left: 10px;
    font-size: 14px;
}

.hebergement p{ 
    font-weight: bold;
    width: 95%;
}
.hebergement i{
    font-size: 10px;
}



                                    /*MAIN*/  /*ou il y a hebergement et populaire pour pouvoir les mettre l'un à coté de l'autre*/


main{
    display: flex;
    justify-content: space-between;
}



                                             /*POPULAIRE*/



.populaire{
    display: flex;
    flex-direction: column; /* pour que la section populaire soit en colonne et non en ligne*/
    width: 30%;
    background-color:#F2F2F2;
    border-radius: 15px;
    justify-content: space-evenly;
    margin-bottom: 30px;

}

.populaire article{
    display: flex;
    width: 95%; 
    height: 125px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px #bababa;
}

.populaire img{

object-fit: cover;   /*pour que les image soient zoomé et qu'on en voit qu'une partie*/
border: 5px solid white;   /*Pour qu'il y ai une bordure de 2px trait plain blanc autour de l'image*/
border-radius: 15px 0 0 15px;   /*pour avoir l'arrondi juste haut gauche et droite*/
width: 110px;
height: 110px;
}

h5{
    width: 95%;
    font-size: 20px;
    margin: 0; /* pas de marge sinon trop haut*/
    display: flex;
    justify-content: space-between;
}

i.fas.fa-chart-line {
    font-size: 20px;
}


h6{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}
.populaire span{
    width: 100%;
}

.populaire div{
    display: flex;    /*flex column sur la div pour que ça se mette en colonne*/
    flex-direction: column;
}

.etoile{
   
    height: 35%; /*j'ai reglé la hauteur et mis un display flex pour qu'elles se mettent bien en bas de la div*/
    display: flex;
    align-items: flex-end;

}

.populaire i{
    font-size: 10px;
}

                                           /*ACTIVTE*/

.bloc1{
    display: flex;
    justify-content: space-around; /*pour espacer les photos entre elles horizontalement*/
    width: 100%; /*pour que les 2 blocs1 prennent 100% de leur contenaire*/
}
.premier{
    height: 450px;
    box-shadow: 0 0 10px #bababa; /*mettre l'ombre qui entour l'image*/
    border-radius: 15px;
}
.premier img{
    height: 400px; /*l'image prend 400px en hauteur*/
}
.deuxieme{
    box-shadow: 0 0 10px #bababa;
    border-radius: 15px;
}
.deuxieme img{
    height: 190px;
}
.troisieme{
    box-shadow: 0 0 10px #bababa;
    border-radius: 15px;
}
.troisieme img{
    height: 120px;
}
.bloc2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bloc3{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.bloc3 p{
    font-weight: bold;
}
.bloc3 img{
    object-fit: cover;
    width: 230px;
    border-radius: 15px 15px 0 0;
}
.activites{
    font-weight: bold;
    margin-left: 10px;
    
}







                                     /*footer(pied de page)*/

footer {
    display: flex;
    background-color: #F2F2F2;
    justify-content: flex-start;
} 

.propo{
    margin: 0 0 0 50px;
    width: 32%;             /*100% du container divisé par 3 = 32%*/
}

.charte{
    width: 32%;
}

.onglet{
    font-weight: bold;
    width: 32%;
}



                                                                  /*VERSION MOBILE*/


@media screen and (max-width: 767px){
    .navigation{
        width: 100%;
    }
    .navigation a{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    nav img{
        width: 100%;
        height: 50px;
        margin-bottom: 15px;
    
    }
    .heb{
        display: flex;
        border-top: none;
        border-bottom: 3px solid #0065FC;
        height: 40px;
        }

    nav{
            display: flex;
            flex-direction: column;
         }
    .formulaire input{
        width: 200px;
    }
    .formulaire button::after{
        content:"\F002";
        font-family:"Font Awesome 5 Free" ;
        font-weight: bold;
    }
    .formulaire button {
         border-radius:  15px;
         width: 45px;
    }
    .filtres{
        display: flex;
        flex-wrap: wrap;
        height: 220px;
        justify-content: space-between;
    }
    h2{
        width: 100%;
    }
    .hebergement{
        width: 100%;
        background-color: white;
        height: 100%
    }
    .hebergement article{
        width: 100%;
        margin-bottom: 15px;
    }
    
   
    .hebergement img{
        width: 96%;
    }
    main{
        flex-direction: column-reverse;
    }
    .populaire{
        width: 100%;
        height: 490px;
        border-radius: 0;
    }
    .populaire article{
        margin-left: 8px;
    }
    .populaire div{
        margin-left: 8px;
    }

    .bloc3{
        flex-direction: column;
    }
    .bloc3 img{
        width: 100%;
    }
    .premier{
        height: 150px;
    }
    .premier img{
        height: 110px;
    }
    .deuxieme{
        margin-bottom: 30px;
    }
    .deuxieme img{
        height: 110px;
    }
    .troisieme{
        margin-bottom: 30px;
    }
    .bloc1{
        flex-direction: column;
        height: 580px;
    }
    
    footer{
                flex-direction: column;
                padding-left: 20px;
            }
    .propo{
             margin: 0 ;
             width: 100%;
         }
    .charte{
             width: 100%;
         }
     .onglet{
             width: 100%;
         }   

    }

    
    @media all and (min-width: 1100px) and (max-width: 1600px){
        .hebergement article{
            margin: 35px;
        }
    }

    @media screen and (max-width: 355px){
    
        .filtres span{
            margin-right: 0;
        }
        .filtres i{
            margin-right: 5px;
        }
        }
    

    @media all and (min-width: 767px) and (max-width: 854px){
        .filtres span{
            margin-right: 3px;
        }
        .hebergement{
            height: 800px;
            width: 100%;
        }
        main{
            flex-direction: column; /* modif apres soutenance...*/
        }
        .populaire{
            width: 100%;
            height: 500px;
        }
        .bloc3{
            flex-direction: column;/* modif apres soutenance...*/
        }
        .bloc1{
            margin-bottom: 30px;/* modif apres soutenance...*/
        }
        
    }





